modules = ["python-3.11:v14-20231207-2f65342"]

hidden = [".pythonlibs"]
run = "python app.py"

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
